{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="users_list">
        <h1 class="mt-4">Пользователи</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fa fa-table mr-1"></i>
                Пользователи
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Имя пользователя</th>
                            <th>Имя</th>
                            <th>Адрес эл. почты</th>
                            <th>Персонал сайта</th>
                            <th>Активный</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Имя пользователя</th>
                            <th>Имя</th>
                            <th>Адрес эл. почты</th>
                            <th>Персонал сайта</th>
                            <th>Активный</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for object in objects %}
                        <tr>
                            <td><strong>{{ object.username }}</strong></td>
                            <td>
                                {% if object.first_name %}
                                <b>{{ object.first_name|title }}</b>
                                {% if object.last_name %}
                            <td>{{ object.last_name|title }}</td>
                            {% endif %}
                            {% endif %}
                            <td class="user_email">
                                email:<br>
                                {{ object.email }}
                            </td>
                            <td class="user_role">
                            <td class="text-center">
                                {% if object.is_superuser %}
                                <i class="fa fa-check-circle"></i>
                                {% else %}
                                <i class="fa fa-times-circle"></i>
                                {% endif %}
                            </td>
                            <td class="card-footer">
                                    <a href="{% url 'admin_staff:user_update' object.pk %}"><button class="btn btn-primary">
                                        редактировать</button>
                                    </a>
                            </td>
                            <td class="card-footer">
                                    <a href="{% url 'admin_staff:user_delete' object.pk %}"><button class="btn btn-danger">
                                        удалить</button>
                                    </a>
                            </td>
                        </tr>
                        {% endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <a href='{% url "admin_staff:user_create" %}'>
                    <button class="new_user btn btn-success">
                        новый пользователь
                    </button>
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}
